PORT=5000
FRONTEND_URL=http://localhost:3000
SESSION_SECRET=jankoti
JWT_SECRET=jankoti


# Google OAuth - Get these from https://console.cloud.google.com/
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Google OAuth Callback URL (Local)
GOOGLE_CALLBACK_URL=http://localhost:5000/auth/google/callback
